.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.head {
  width: 100%;
  height: 100vh;
  background-color: aqua;
}
.main1 {
  width: 100%;
  height: 222.5px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box1 {
  width: 33%;
  height: 222px;
  background-color: blue;
}
.main2 {
  width: 90%;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
  gap: 40px;
  /* margin-left: 30px; */
}
.box2 {
  width: 33%;
  height: 400px;
  background-color: blue;
}
